@import 'tailwindcss';
@config '../tailwind.config.js';
/* 굵은 거 (Bold, 700) */
@font-face {
  font-family: 'Freesentation';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-7Bold.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* (normal, 400) */
@font-face {
  font-family: 'Freesentation';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-4Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* 중간 (Medium, 500) */
@font-face {
  font-family: 'Freesentation';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-5Medium.woff2')
    format('woff2');
  font-weight: 500;
  font-style: normal;
}

/* (Gmarket Sans Bold) */
@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff')
    format('woff');
  font-weight: 700;
  font-style: normal;
}

/* 박용준투사회보체 (Park Yong Jun Tusahoebo) - 손글씨 폰트 */
@font-face {
  font-family: 'Pak_Yong_jun';
  src: url('/fonts/Pak_Yong_jun.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Freesentation', sans-serif;
}

@layer utilities {
  .rotate-y-180 {
    transform: rotateY(180deg);
  }

  .font-handwriting {
    font-family: 'Pak_Yong_jun', cursive;
  }
}
